@font-face {
  font-family: 'MyFont';
  src: url('Assets/font/庞门正道标题体.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: 'MyFont';
}

.pic2 {
  color: green;
  width: 50px;
  height: 50px;
  background-image: url('Assets/img/bg.jpeg');
  background-size: contain;
}